<thf-page-edit
  t-title="Novo cliente"
  [t-disable-submit]="formCustomer.invalid">

  <form #formCustomer="ngForm">
    <thf-input class="thf-md-6"
      name="name"
      [(ngModel)]="customer.name"
      t-required
      t-label="Nome completo">
    </thf-input>

    <thf-email class="thf-md-6"
      name="email"
      [(ngModel)]="customer.email"
      t-required
      t-label="E-mail">
    </thf-email>

    <thf-input class="thf-md-6"
      name="status"
      [(ngModel)]="customer.status"
      t-required
      t-label="Status">
    </thf-input>
  </form>

</thf-page-edit>
